* {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

body {
	background-image: url(https://codesnow99.github.io/static/images/background.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: Helvetica Neue,
				 Helvetica,
				 Arial,
				 Microsoft Yahei,
				 Hiragino Sans GB,
				 Heiti SC,
				 WenQuanYi Micro Hei,
				 sans-serif;
}

#page {
	width: 100%;
	min-width: 1160px;
}

header {
	width: 100%;
	height: 60px;
	background-color: rgba(255,255,255,0.4);
	position: fixed;
	top: 0px;
	z-index: 999;
}

#header_content {
	position: relative;
	margin: 0 auto;
	width: 1160px;
	height: inherit;
}

#site_title {
	position: relative;
	left: 110px;
	float: left;
	height: inherit;
	width: 76px;
}

#site_title_font {
	display: block;
	width: 76px;
	height: inherit;
	font-family: 'Comic Sans MS';
	font-size: 28px;
	font-weight: 800;
	line-height: 60px;
	color: #00a1d6;
	text-align: center;
	text-decoration: none;
}

.site_title_underline {
	position: absolute;
	top: 44px;
	left: 50%;
	margin-left: -38px;
	height: 2px;
	width: 76px;
	background-color: #7ca6f1;
	cursor: default;
	transition: 0.8s linear;
}

.site_title_underline_hover {
	position: absolute;
	top: 44px;
	left: 50%;
	margin-left: -30px;
	height: 2px;
	width: 60px;
	background-color: #00a1d6;
	cursor: pointer;
	transition: 0.2s linear;
}

#note_title {
	position: relative;
	float: right;
	padding-right: 330px;
	width: 550px;
	height: inherit;
	text-align: center;
}

#note_title_text {
	position: relative;
	top: 20px;
	font-size: 18px;
	font-weight: 800;
	color: red;
}

#content {
	position: relative;
	top: 60px;
	margin: 0 auto;
	width: 1160px;
	overflow: hidden;
}

#left {
	position: fixed;
	top: 60px;
	margin: 8px 8px 0 7px;
	width: 265px;
	height: 400px;
	float: left;
}

#left_author {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 265px;
	height: 200px;
	background-color: rgba(255,255,255,0.4);
	border-radius: 5px;
}

#HeadPortrait {
	position: absolute;
	left: 45px;
	top: 40px;
	border-radius: 30px;
	width: 60px;
	height: 60px;
}

#author_name {
	position: absolute;
	top: 46px;
	left: 130px;
	text-decoration: none;
	color: #00a1d6;
	font-size: 22px;
	display: block;
	width: 66px;
	height: 29px;
	font-weight: 500;
}

.name_underline {
	position: absolute;
	top: 75px;
	left: 118px;
	width: 97px;
	height: 2.5px;
	background-color: #7ca6f1;
	cursor: default;
	transition: 0.8s linear;
}
.name_underline_hover {
	position: absolute;
	top: 75px;
	left: 129px;
	width: 68px;
	height: 2.5px;
	background-color: #00a1d6;
	cursor: pointer;
	transition: 0.2s linear;
}

#author_brief {
	position: absolute;
	left: 115px;
	top: 78px;
	color: #00a1d6;
	font-size: 12px;
}

#post_history {
	position: absolute;
	left: 120px;
	top: 120px;
	font-size: 20px;
	color: #fb7299;
	text-decoration: none;
}

#history_content {
	margin: 8px 300px 0;
	border-radius: 5px;
	padding: 8px 0 8px 0;
	width: 580px;
	float: right;
	background-color: rgba( 255, 255, 255, 0.4 );
}

#history_content>div {
	width: inherit;
	height: 40px;
}

.post_title {
	display: block;
	height: inherit;
	padding-left: 20px;
	width: 520px;
	line-height: 40px;
	float: left;
	text-decoration: none;
}

.post_new {
	display: block;
	height: inherit;
	width: 40px;
	float: right;
}

.post_new>img {
	position: relative;
	left: 10px;
	top: 10px;
	display: none;
	width: 20px;
	height: 20px;
}
